@using BanHoaQuaOnline.Models;
@model List<LOAINONGSAN>


@{
    foreach (var item in Model)
    {
        <div class="List">
            <a href="#"> <img src="@Url.Content("~/Content/HinhAnhSP/" +item.HinhAnh)" alt="image name" width="150" height="60" /></a>
            <p>
                <strong href="#">@item.TenLoai</strong><br />
                <a>
                    Xem chi tiết
                </a>
            </p>
        </div>

    }
}

